section {
    width: 95%;
    height: auto;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    transition: 1s;
  }
  
  .cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px 0;
    transition: 1s;
  }
  
  .card {
    width: 300px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .top {
    width: 100%;
    height: 250px;
    background: #eb2727;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .top img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 10px rgb(167, 167, 167);
    filter: brightness(0.6);
    transition: 1s;
  }
  
  .top img:hover {
    filter: brightness(1);
  }
  
  .bottom {
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    min-height: 30px;
    transition: 1s;
    line-height: 30px;
    border:1px solid #eee;
    border-top: 0;
  }
  
  .bottom h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 0;
    transition: 1s;
    color: #031956;
    border-bottom: 1px solid #eee;
  }
  
  .interaction {
    width: 100%;
    height: 0;
    display: flex;
    opacity: 0;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
  }
  
  .interaction button {
    width: 20%;
    height: 35px;
    background: transparent;
    border: 0;
    color: #456dda;
    position: relative;
  }
  
  .interaction button span{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    background: #f9b000;
    border-radius:50%;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
  }
  
  .interaction button:focus {
    outline: none;
  }
  
  .interaction i:hover {
    color: #eb2727;
  }
  
  .interaction i {
    font-size: 18px;
    transition: 1s;
  }
  .interaction button:nth-child(2) {
    color: #ba2c38 !important;
  }
  .interaction button:nth-child(3) {
    color: #9b9293 !important;
    
  }
  
  .card:hover > .bottom {
    min-height: 100px;
  }
  .card:hover > .bottom > h1 {
    font-size: 17px;
    padding: 10px;
    color: #1d1d1d;
  }
  
  .card:hover > .bottom > .interaction {
    opacity: 1;
    height: 50px;
  }

  .showCard{
    width: 50%;
    height: auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 10px rgb(159, 159, 159);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
  }

  .actionHeader{
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actionHeader .title{
    width: 80%;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .title h3{
    margin-left: 4px;
    font-size: 16px;
    color: #141414;
  }

  .title i{
    color: #f9b000;
  }

  .close {
    width: 10%;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }

  .close button{
    background: #f9b000;
    border:0;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
    transition: 500ms;
  }

  .close button:focus{
    outline: none;
  }

  .close button:hover{
    background: #1d1d1d;
  }

  .actionContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    flex-wrap: wrap;
  }
  .gifPreview{
    width: 50%;
    height: auto;
    border-right: 1px solid #eee;
    transition: 500ms;
  }
  .gifPreview img{
    width: 100%;
    height: auto;
    border-radius: 10px;

  }
  .actionInput{
    width: 30%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
  }

  .actionInput input{
    width: 95%;
    height: 30px;
    border:1px solid #eee;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: 500ms ease-in-out;
    margin-bottom: 10px;
  }

  .actionInput label{
    font-family: 'Exo 2',sans-serif;
    font-size: 14px;
    position: relative;
    top: 3px;
  }

  .actionInput input:focus{
    outline: none;
    border:1px solid #f9b000
  }

  .action{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f9b000;
    bottom: 0;
    transition: 500ms;
    margin-top: 20px;

  }
  .action:hover{
    background: tomato;
  }

  .action button{
    width: 100%;
    height: 40px;
    border:0;
    color:#fff;
    background: transparent;
    display: block;
    cursor: pointer;
 }

 .action button:focus{
   outline: none;
 }